# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environments
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.so

# Egg info
*.egg-info/

# Logs
*.log

# Test cache
.pytest_cache/